<h1>Welcome to the homepage</h1>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
			<tr>
			  <th><a href="/<%= post[:id] %>"><%= post[:title] %></a></th>
			  <td><%= post[:body] %></td>
			</tr>
		<% end %>
	</tbody>
</table>